body{
    background-image: url('../Images/Body/derp.gif');
    background-size: cover;
	z-index: 0;
}

.over {
	content:"";
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: rgba(57, 62, 64, 0.7);
	z-index: 3;
}

.oof {
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	position: relative;
	text-align: center;
	font-size: 500%;
	color: #fff;
	padding-bottom: 4px;
  	margin-bottom: 20px;
  	opacity: 0.6;
	z-index: 6;
}